extends ../layout.pug

block content
  main
    section.modal.modal--flex
      .popup.popup--new-publication.popup--flex
        .new-publication
          form(action='/articles/add' method='POST' enctype='multipart/form-data')
            .new-publication__header
              h1 Новая публикация
              .new-publication__date-form
                h3 Дата публикации
                .new-publication__date-form-division
                  .new-publication__date-block
                    label(for='new-publication-date' aria-label='Календарь')
                    input#new-publication-date(type='text' name='createdDate' placeholder='21.03.2019' value=`${article.createdDate}`)
              button.new-publication__button.button.button--colored(type='submit') Опубликовать
            button.popup__button.button.button--popup-close(type='button' aria-label='Закрыть окно') Закрыть окно
            .new-publication__form.form
                .form__wrapper.form__wrapper--intro
                  if error
                    .form_errors
                      .form__error
                        .form__error-message #{error}
                  .form__field
                    label
                      input(type='text' name='title' placeholder='Заголовок' value=`${article.title}` required)
                  .form__field.form__field--post-image
                    label
                      input#image-name-field(type='text' placeholder='Фотография' value=`${article.titleImage.name || ``}` readonly)
                    .form__image-loader.form__image-loader--publication
                      label
                        input.visually-hidden(type='file' name='titleImage')
                        | Обзор
                    if article.titleImage
                      button.button.button--transparent Удалить
                  each category in article.category
                    //- .new-publication__checkbox.new-publication__checkbox--auto
                    .new-publication__checkbox
                      //- TODO: Добавить категориям id?
                      input(type='checkbox' id=`checkbox-${category.id}` name=`checkbox-${category.id}`)
                      label(for=`checkbox-${category.id}`) #{category}
                  a.new-publication__form-link.button.button--transparent(href='#') Добавить категорию
                .form__wrapper.form__wrapper--text
                  .form__field.form__field--publication-text
                    label
                      textarea(rows='1' name='announce' placeholder='Анонс публикации') #{article.announce}
                  .form__field.form__field--publication-text
                    label
                      textarea(rows='1' name='fullText' placeholder='Полный текст публикации').
                        #{article.fullText}
      .modal__overlay

block scripts
  script(src='/js/vendor.js')
  script(src='/js/main.js')
